# ライブラリ
libs/

# Gradle
.gradle/
build/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.classpath
*.project
/.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
out/

# JARs（生成物）
*.jar
# ただし、Gradleラッパーファイルは管理対象とする
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# サブモジュール関連
.gitmodules
.gitmodule
.git/

# その他
*.swp
*.swo
